<!doctype html>
<html>
<head>
	<title>Dirty Hipster</title>
	<link rel="stylesheet" type="text/css" href="layout.css" media="screen"/>
	<link rel="stylesheet" type="text/css" href="login.css" media="screen"/>
</head>

<body>
	<%= yield %>
</body>


</html>