<!doctype html>
<html>
<head>
	<title>Dirty Hipster</title>
	<link rel="stylesheet" type="text/css" href="layout.css" media="screen"/>
	<link rel="stylesheet" type="text/css" href="login.css" media="screen"/>
	<link rel="icon" type="image/jpg" href="last-stache.jpg"/>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="https://w.soundcloud.com/player/api.js"></script>
  <script type="text/javascript" src="javascripts/track_info.js"></script>
</head>

<body>
	<%= yield %>
</body>


</html>