@font-face {
	font-family: HoneyScript;
	src: url('HoneyScript-SemiBold.ttf'); /* TTF file for CSS3 browsers */
}

@font-face {
	font-family:Walkway_SemiBold;
	src: url('Walkway_SemiBold.ttf');
}

#welcome_title {
	font-family: HoneyScript;
	text-align: center;
	font-size: 450%;
	margin: auto;
	color: #07445E;
}

#login_button {
	font-family: Walkway_SemiBold;
	font-size: large;
	display: block;
	margin-right: 52%;
	margin-left: 48%;
	text-decoration: none;
	color: #d83c3c;
}

#login_button:hover, #login_button:focus {
	color: #c22313;
}

#login_button:active {
	color: #6f8ec2;
}